@{
    ViewData["Title"] = "İletişim Bilgieri";
}
<div class="text-center">
    <br />
    <br />
    <h2 style="color:purple">@ViewData["Title"]</h2>

    <br />
    <br />
    <h3>Ankara/Çankaya</h3>
    <br />
    <h3>E-Posta Adresimiz:</h3>
    <h3><a href="mailto:zeynoaydnn@gmail.com">E-Posta Gönder</a></h3>
</div>
